#simh{
    position: relative;
    left: 10px;
}
#SIM{
    font-size: 40px;
}
.simbox{
    position: relative;
    height: 460px;
    width: 1350px;
    
    align-content: center;
    display: flex;
    left: 85px;
    bottom: 350px;
    top: 0px;
}
.simdata{
    position: relative;
   
    width: 1350px;
    height: 450px;
}

.gatesim{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gatetype{
    width: 150px;
    height: 60px;
    background: #3DDA24;
    margin: 0px 10px;
    transition: 0.5s;
    border-radius: 10px;
    border: 2px solid black;
}
.gatetype:hover{
    transform: scale(1.3);
    background: #3DDA24;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
    
}
.gatetype a{
text-align: center;
text-decoration: none;
display: flex;
position: relative;
left:30px;
top:20px;
color:white;
}