.theorybox{
    position: relative;
    height: 8500px;
    width: 1200px;
    
    align-content: center;
    display: flex;
    left: 300px;
    bottom: 350px;

}

.theorydata{
    height: 50px;
    width: 50px;
    position: relative;
  
    width: 1200px;
    height: 8480px;
}
p{
    font-size: 25px;
}
#intro{
    font-size: 40px;
}
.pic{
    position: relative;
    left: 370px;
}

.fig1{
    color: black;
    position: relative;
    font-size: 20px;
    left: 380px;
}
.fig1{
    color: black;
    position: relative;
    font-size: 20px;
    left: 380px;
}
.fig2{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig3{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig4{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig5{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig6{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig7{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig8{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig9{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig10{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig11{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig12{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig13{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig14{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig15{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig16{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig17{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig18{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig19{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig20{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.fig21{
    color: black;position: relative;
    font-size: 20px;
    left: 380px;
}
.y{
    color: black;position: relative;
    font-size: 25px;
    left: 550px;
}